body {
  padding: 40px 20px;
}

header {
  margin-bottom: 4 * $spacing;
}

header article, .content .column {
  padding: 0 $spacing * 3;
}

@media screen and (min-width: 640px) {
  header, .content {
    display: flex;
  }
  header article, .content .column {
    width: 100 / 3 * 1%;
  }
}

@media print {
  body {
    page-break-inside: avoid;
  }
  // layout the ol'way because of a nasty firefox bug https://bugzilla.mozilla.org/show_bug.cgi?id=939897
  header, .content {
    display: block;
    white-space: nowrap;
  }
  header article, .content .column {
    display: inline-table;
    width: 100 / 3 * 1%;
    white-space: initial;
  }
}

.header article {
  margin-bottom: 0;
}

.content article {
  border-top: 2px dashed $black;
  padding-top: $spacing*2;
}

.content article:first-of-type {
  border-top: none;
  padding-top: 0;
}

.section-content {
  padding: 0 $spacing;
}
