
* {
  box-sizing: border-box;
  // force background on printing
  -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
  color-adjust: exact !important;                 /*Firefox*/
}

// placing the icons
.with-icon i {  
    position: absolute;
    margin-left: -25px;
    margin-top: 2px;  
}

header .with-icon {
  padding-left: 25px;
  i {
    font-size: 1.2em;
  }
}

.content .with-icon article {
  padding-left: 25px;
}