
* {
  box-sizing: border-box;
  // force background on printing
  -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
  color-adjust: exact !important;                 /*Firefox*/
}

// placing the icons
.with-icon {
  padding-left: 25px;
  
  i {
    position: absolute;
    margin-left: -25px;
    margin-top: 2px;
    font-size: 1.2em;
  }
  
}